# deps
node_modules/

# build
dist/
*.tsbuildinfo

# env
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# postgres data
.postgres-data/
